#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#error{
  color: rgb(218, 111, 24);

  font-weight: 6000;
}

.signup form{
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-evenly;
  /* background-color: black; */
}
#formButton {
  width: 50%;
  align-self: center;
  padding: 10px;
}